html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1 0 auto;
}


.main-section {
  padding: 70px 0 70px;
}

ol li,
ul li {
  text-align: justify;
}

.normal-content {
  margin: 20px;
}

p {
  margin-bottom: 10px;
  text-align: justify;
}

.icon-rounded {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--col-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icon-rounded--red {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid var(--col-red-dark);
  background-color: var(--col-white);
  color: var(--col-red-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 26px;
}


.center-button {
  text-align: center;
}

.navbar-item {

  img {
    max-width: 200px;
    max-height: 100% !important;
  }
}

.span-img {
  display: flex;
  align-items: center;
  justify-content: center;

  .img-icon {
    max-width: 30px;
  }
}

.indexs {
  margin: 133px 10px 10px 10px;
}

.contents {
  margin-top: 123px;
}

.contents1 {
  margin-top: 93px;
}

.bg-grey {
  background-color: #f6f6f6;
  margin: 22px 0;
}

.section-pskk {
  margin-top: 143px;
}

.title {
  color: $black;
  font-weight: 600;
  line-height: 1.125;

  & .is-4 {
    font-size: 1.5rem;
  }
}