.main-title {
  padding: 30px 120px;
  background-color: #efefef;

  &__page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .breadcrumb {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: #000;
      }

      &-first,
      &-menu {
        margin-left: 10px;
        position: relative;
      }

      &-first {
        position: relative;

        a {
          color: var(--col-red-dark);
          &::after {
            position: absolute;
            content: '/';
            margin-left: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .main-title {
    padding: 20px;

    &__page {
      flex-direction: column;

      h3 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 734px) {
  .main-title {
    padding: 25px;
  }
}