@media only screen and (max-width: 1279px) {
  .main-slider {

    &__content {
      &__caption {
        right: 390px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main-slider {

    &__content {
      &__caption {
        right: 315px;
        bottom: 237px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .main-header {

    &-menu {
      &__img {

        img {
          max-width: 110px;
        }
      }

      &__navbar {
        display: none;
      }

      &__bars {
        display: block;
        font-size: 30px;
      }

      &__navbar {

        &__ul {
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }

  .main-slider {

    &__content {
      &__caption {
        right: 210px;
        bottom: 170px;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .map,
  .main-kontak__pesan {
    margin: 0 20px;
  }

  .main-berita-index {
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__date {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .select {
    margin-bottom: 10px;
  }

  .main-skk {
    margin: 20px 0;

    &__top {
      flex-direction: column;
    }

    &__tanggal {
      margin-bottom: 10px;
    }
  }

  .main-login {
    margin: 0;

    &__card {
      margin: 0 35px 0 35px;
    }
  }

  .main-berita {
    margin: 14px;

    img {
      max-height: 242px;
      max-width: 100%;
    }
  }

  .main-berita-detail {
    border: 0;

    &__featured {
      flex-direction: column;
    }
  }

  .main-pelaksanaan-pskk-detail__featured {
    flex-direction: column;

    span:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .contents {
    margin-top: 112px;
  }
}

@media only screen and (max-width: 694px) and (min-width: 320px) {
  .main-jadwal-detail {

    &__LSP {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 694px) and (min-width: 320px) {
  
}

@media only screen and (max-width: 454px) {
  .main-slider {

    &__content {
      &__caption {
        right: 96px;
        bottom: 62px;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {

  .main-jadwal-detail {
    margin: 0;
  }

  .main-jadwal-detail__alamat,
  .main-jadwal-detail__kota {
    flex-direction: column;

    span {
      margin-bottom: 10px;
    }
  }

  .berita-top {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
  }

  .main-title-index {
    margin: 20px;
  }

  .main-slider {

    &__content {
      &__caption {
        right: 96px;
        bottom: 62px;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 320px){

  .main-slider {

    &__content {
      &__caption {
        right: 87px;
        bottom: 62px;
        font-size: 12px;
      }
    }
  }
}