.main-footer {
  background: #3b3e43;
  color: #d7d7d7;
  padding: 30px 10px;
  flex-shrink: 0;

  h3 {
    color: #d7d7d7;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d7d7d7;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__img {
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    img {
      max-height: 250px;
      max-width: 250px;
    }
  }

  ul {

    li {

      i {
        margin-right: 10px;
      }

      a {
        color: #d7d7d7;
      }
    }
  }

  &--copyright {
    margin: 10px 0 0 0;
    background-color: #2b2e31;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1rem;
      color: var(--col-yellow);
      margin: 0;
    }
  }
}
