.main-header {
  background-color: #f3f3f3;
  box-shadow: var(--shadow);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  z-index: 10;

  display: flex;
  flex-direction: column;

  &-top {
    display: flex;
    justify-content: space-around;
    background-color: var(--col-red-dark);

    a {
      color: #fff;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 10px;
        max-width: 30px;
      }
    }    
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;

    &__img {

      img {
        max-width: 120px;
      }
    }

    &__bars {
      display: none;
    }

    &__navbar {

      &__ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          display: block;
          float: left;
          padding: 1rem;
          position: relative;
          text-decoration: none;
          transition-duration: 0.5s;
          z-index: 15;

          a {
            color: #000;
            font-size: 16px;

            &:hover,
            &:active {
              color: var(--col-red-dark);
              border-bottom: 2px solid var(--col-red-dark);
            }
          }

          a.active {
            color: var(--col-red-dark);
            border-bottom: 2px solid var(--col-red-dark);
          }

          a:not(:only-child):after,
          a:visited:not(:only-child):after {
            padding-left: 4px;
            content: '▾';
          }
        }

        &--dropdown {
          visibility: hidden;
          opacity: 0;
          min-width: 5rem;
          position: absolute;
          transition: all 0.5s ease;
          margin-top: 1rem;
          left: 0;
          display: none;

          li {
            background-color: #f3f3f3;
            border-bottom: 2px solid #eee;

            a {
              font-size: 15px;
            }
          }
        }
      }

      .main-header-menu__navbar__ul li:hover>.main-header-menu__navbar__ul--dropdown,
      .main-header-menu__navbar__ul li .main-header-menu__navbar__ul--dropdown:hover {
        visibility: visible;
        opacity: 1;
        display: block;
      }

      .main-header-menu__navbar__ul li .main-header-menu__navbar__ul--dropdown li {
        clear: both;
        width: 100%;
      }
    }
  }


}

.main-18 {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  display: none;
  justify-items: center;
  align-items: center;
  transition: all .2s ease-in-out;

  a {
    color: #fff;
    text-transform: capitalize;

    &:hover {
      color: var(--col-red-dark);
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 40px;
  }
}