.main-slider {
  position: relative;
  margin: auto;

  &__content {
    display: none;

    &__caption {
      color: #000;
      font-size: 30px;
      padding: 8px 12px;
      position: absolute;
      bottom: 300px;
      right: 500px;
      width: 100%;
      text-align: center;
    }

    &__number {
      color: #000;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }


    img {
      vertical-align: middle;
    }
  }
}

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot.active {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .main-slider__content__caption {
      font-size: 11px
    }
  }