@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,500,800');

body {
  font-family: var(--font-lato);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-monserrat);
  text-transform: capitalize;
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  h4 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}
