.main-agenda {
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 17px;
  border-left: 4px solid var(--col-black);
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  &--passed {
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 17px;
    border-left: 4px solid $success;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
  }
  
  &--incoming {
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 17px;
    border-left: 4px solid $info;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
  }
  
  &--canceled {
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 17px;
    border-left: 4px solid $danger;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
  }

  &__tanggal {
    margin-right: 30px;
    border-right: 1px solid rgb(187, 184, 184);
    padding-right: 20px;

    div:nth-child(1) {
      font-size: 20px;
      font-weight: 600;
    }
    
    div:nth-child(2) {
      font-size: 14px;
      font-weight: 400;
    }
    
    div:nth-child(3) {
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__event {

    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-weight: 400;
    }
  }
} 