.berita-detail-section {
  padding: 10px 0;
}

.main-berita {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 8px 25px 0 rgba(0,0,0,.06);
  border-radius: 5px;
  margin: 0 15px;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.09);
  }

  img {
    width: 100%;
    max-width: 412px;
    max-height: 242px;
  }

  span {
    margin: 5px 0;
    font-size: 12px;
    color: hsl(0, 10%, 30%);

    display: flex;
    flex-direction: row-reverse;
  }

  h4 {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  
}

.main-berita-detail {
  margin: 22px;

  img {
    max-height: 365px;
  }

  &__featured {
    padding: 17px 0;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
    }

    i {
      margin-right: 5px;
      color: #ad9c9c;
    }
  }

  h3 {
    margin: 22px 0;
    font-size: 20px;
    font-weight: 500;
  }

  &__post {
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
  }
}

.widget-mini-berita {
  padding: 17px 0;
  overflow: hidden;

  h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 19px;
    border-bottom: 2px solid var(--col-red);
    padding-bottom: 4px;
    font-weight: 500;
  }

  &__post {
    margin-bottom: 22px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        color: var(--col-red);
      }
    }

    h4 {
      font-size: 15px;
      font-weight: 500;
    }

    span {
      font-size: 12px;
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .widget-mini-berita {
    margin: 22px;
  }
}