.main-download {
  background-color: #f8f8f8;
  margin: 10px 15px;
  padding: 20px 30px;
  box-shadow: var(--shadow-md);

  span {
    font-size: .8rem;
    color: var(--col-red-dark);
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid var(--col-red-dark);
  }

  h5 {
    margin: 10px 0;
    font-weight: 500;
  }

  &__button {
    text-align: center;

    button,
    a {  
      border: 2px solid var(--col-red-dark);
      color: var(--col-red-dark);
      background-color: transparent;

      &:hover,
      &:active {
        background-color: var(--col-red-dark);
        color: #fff;
        border: var(--col-red-dark);
      }
    }
  }
}

.widget-menu {
  border: 0;
  margin: 0 10px;

  h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 19px;
    border-bottom: 2px solid var(--col-red);
    padding-bottom: 4px;
    font-weight: 500;
  }

  ul {
    margin: 0;

    li {
      line-height: 50px;
      font-size: 1rem;
      position: relative;
      padding-left: 21px;
      background-color: #f7f7f7;
      overflow: hidden;
      cursor: pointer;
      border-bottom: 1px solid #e5e5e5;
      transition: all .3s ease-in-out;

      &.active:before,
      &:hover:before {
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 5px;
        height: 100%;
        width: 5px;
        background-color: var(--col-red-dark);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
      }

      &.active,
      &:hover {
        padding-left: 41px;
        color: var(--col-red-dark);
        font-weight: bold;
      }
    }
  }
}

.pagination {
  margin: 20px 0;
}