.main-img-index {
  background-image: url(img/bnsp1.png);
  background-size: cover;
  background-position: center center;
}

.main-slider {
  &-content {
    &__number {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    img {
      width: 100%;
    }

    &__caption {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
  }
}

.main-point {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  
  &__card {
    position: relative;
    padding: 25px;
    width: 100%;
    background: var(--col-white);
    border-radius: 5px;
    border: 1px solid var(--col-red-dark);
    box-shadow: var(--shadow-md);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover .icon-rounded--red{
      background-color: var(--col-red-dark);
      border: #fff;
      color: #fff;
    }


    h3 {
      text-align: center;
      font-weight: 500;
      max-width: 300px;
      font-size: 20px;
      margin-top: 10px;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: left;
    }
  }
}

.main-berita-index {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  margin: 22px 0;
  padding: 12px;

  &__img {

    img {
      max-width: 285px;
    }
  }

  &__date {
    font-size: 12px;
    color: #6c757d;
    text-transform: uppercase;
    position: relative;
  }

  &__title {
    height: 52px;
    max-height: 52px;
    
    h4 {
      font-weight: 500;
      color: #000;

      &:hover {
        color: var(--col-red-dark);
      }
    }
  }
}

.main-pengumuman {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  box-shadow: var(--shadow-md);
  border-radius: .25rem;
  padding: 10px;
  border-bottom: 1px solid var(--col-yellow-dark);
  margin: 22px 0;

  &-title {
    margin-bottom: 12px;
    height: 43px;
    max-height: 43px;

    a {
      color: #000;
      text-transform: capitalize;

      &:hover {
        color: var(--col-yellow-dark);
        font-weight: 500;
      }
    }
  }

  &-tanggal {
    border-left: 2px solid var(--col-yellow-dark);
    padding-left: 10px;
    display: inline-block;
  }
}

.main-social {
  background-color: #fff;
  box-shadow: var(--shadow-md);
  padding: 13px;

  &--youtube {
    background-color: #fff;
    box-shadow: var(--shadow-md);
    padding: 13px;
    height: 350px;
    max-height: 350px;
    position: relative;

    iframe {
      height: 100%;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
}

.main-support {
  margin: 30px 0;

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;

    &__img {
      margin: 0 10px;
    }
  }
}

.berita-top {
  display: flex;
  justify-content: space-between;
  align-content: center;

  a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 11px 20px;
    font-size: 12px;
    line-height: 1.71429;
    border-radius: 50rem;
    user-select: none;
    letter-spacing: 1px;
    color: #fff;
    background-color: var(--col-red-dark);

    &:hover {
      background-color: var(--col-red-dark);
    }
  }
}

.main-title-index {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 5px;
    width: 60px;
    border-top: 2px solid var(--col-red-dark);
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }
}

.main-title-index-1 {
  position: relative;
  margin-bottom: 18px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 5px;
    width: 60px;
    border-top: 2px solid var(--col-red-dark);
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }
}