.main-informasi-detail {

  span {
    display: flex;
    justify-content: flex-end;
    color: var(--col-red-dark);
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }
}