.main-jadwal {
  background-color: #fcfcfc;
  padding: 10px 20px;
  box-shadow: var(--shadow-md);

  display: flex;
  align-items: center;

  &__tanggal,
  &__content {
    margin-right: 30px;
  }

  &__proses {
    margin: 0 10px 0 auto;
  }

  &__tanggal {
    border: 0;
    padding: 10px;
    margin-right: 30px;
    border-right: 1px solid rgb(187, 184, 184);
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:nth-child(1) {
      font-size: 20px;
      font-weight: 600;
    }
    
    span:nth-child(2) {
      font-size: 14px;
      font-weight: 400;
    }
    
    span:nth-child(3) {
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__content {
    border: 0;

    h3 {
      font-size: 19px;
      color: var(--col-red-dark);
      font-weight: 500;

    }

    &--kuota {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: inline-block;
        background-color: #ffef6b;
        border-radius: 15px;
        color: #000;
        padding: 7px;
        font-weight: bold;
      }
    }

    &--skema {
      font-weight: bold;
    }

    &--status {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin-left: 10px;
        text-transform: uppercase;
      }
    }

    
  }
}

.main-jadwal-detail {
  background-color: #fff;
  box-shadow: var(--shadow-md);
  padding: 20px;
  margin: 0 20px;

  &__img {
    margin: 0 10px;
  }

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
  }

  h4 {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__section {
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;

    &__info {
      border: 1px solid gray;
      color: gray;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      border-radius: 10px;
    }
  }

  &__alamat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }

  &__kota {
    display: flex;
    align-items: center;

    p {
      margin: 10px 10px 10px 0;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
