.main-kontak {
  padding: 70px 0 70px;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  &__pesan {
    margin: 0 10px;

    &__card {
      background-color: #fff;
      box-shadow: var(--shadow-lg);
      padding: 15px;
      border-radius: 5px;
      margin-top: 12px;

      &__button {
        width: 100%;

        button {
          width: 100%;
          background-color: #dc3545;
          color: #fff;

          &:hover {
            background-color: #c82333;
            color: #fff;
          }
        }
      }
    }
  }
}

.map {
  margin: 0 10px;
  height: 100%;

  iframe {
    height: 100%;
  }
}