.main-login {
  padding: 70px 0 70px;

  &__card {
    padding: 32px 30px 32px;
    background-color: var(--col-red-dark);
    margin: 0 -35px 0 -25px;
    border: 20px solid #fff;
    border-radius: 20px;
    box-shadow: var(--shadow-md);
    position: relative;
    z-index: 2;
    color: #fff;

    .field:not(:last-child) {
      margin-bottom: 24px;
    }

    h3 {
      font-size: 30px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .label {
      color: #fff;
    }

    &__button {
      text-align: center;

      button {
        background: none;
        border: 3px solid #fff;
        color: #fff;
        font-size: 1.2rem;
        width: 100%;
        border-radius: 5px;

        &:hover,
        &:focus {
          background-color: #fff;
          color: var(--col-red);
          border: none;
          font-weight: 500;
        }
      }
    }
  }

  &__register {
    text-align: center;
    margin: 16px 0;

    a {
      color: var(--col-red-dark);

      &:hover {
        color: var(--col-red-dark);
      }
    }
  }
}

.forget-pass {
  margin-top: 16px;
  text-align: center;

  a {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  
}