.main-lsp {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 8px 25px 0 rgba(0,0,0,.06);
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.09);
  }

  img {
    width: 100%;
    max-width: 412px;
    max-height: 242px;
  }

  a {
    color: var(--col-red);

    &:hover {
      color: var(--col-red-dark);
    }
  }

  h3 {
    font-weight: 500;
    border-bottom: 1px solid rgb(216, 207, 207);
    margin-bottom: 10px;
    height: 50px;
    max-height: 50px;
  }

  &__alamat {
    border-bottom: 1px solid rgb(216, 207, 207);
    margin-bottom: 10px;

    p {
      font-size: 14px;
    }
  }

  &__kota {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--btn {
      font-weight: 600;
    }
  }

}


.main-lsp-detail {
  padding: 20px;
  background-color: #fff;
  box-shadow: var(--shadow-md);
  border-radius: 10px;

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__title {
    color: #6c757d;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__content {

    span.span-success {
      background-color: #28a745;
      color: #fff;
      padding: .25em .4em;
      border-radius: 5px;
    }
  }

  p {
    margin: 0;
  }

  &__table {
    display: none;
    padding: 20px;
    background-color: #fff;
    box-shadow: var(--shadow-md);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 22px;
  }

  &__table.active {
    display: block;
    overflow-x:auto;
  }

  &__button {
    display: flex;
    align-items: center;

    li {
      display: inline-flex;
      backface-visibility: hidden;

      &:not(:last-child){
        margin-right: 10px;
      }

      a {
        color: var(--col-grey);
        padding: 10px;
        border: 1px solid transparent;
        text-align: center;

        &:hover {
          color: var(--col-red-dark);
          border: 1px solid var(--col-red-dark);
          font-weight: 700;
        }
      }

    }

    .active {
        
      a {
        color: var(--col-red-dark);
        border: 1px solid var(--col-red-dark);
        font-weight: 700;
      }
    }
  }
}

.widget-mini-lsp {
  
  padding: 12px;
  background-color: #f7f7f7;
  box-shadow: var(--shadow-md);

  h3 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(216, 207, 207);
    color: var(--col-red);
    text-transform: uppercase;
  }

  a {
    color: #6c757d;

    &:hover {
      color: var(--col-red-dark);
      text-decoration: underline;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__input,
  &__input:focus {
    border: 1px solid rgba(205, 38, 29, 0.13);
    font-size: 17px;
    height: 34px;
    color: #000;
    padding-left: 20px;
    padding-right: 40px;
    margin: 13px 15px 0 15px;
    background-color: rgba(205, 38, 29, .15);
    border-radius: 30px;
    width: 100%;
    box-shadow: none;
    outline: none;
  }

  button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 19px;
    right: 30px;
    color: rgba(0, 0, 0, 0.7);

    &:active {
      outline: none;
    }
  }
}