.main-pelaksanaan-pskk {
  background-color: #f2f2f2;
  box-shadow: var(--shadow);
  padding: 12px;
  border-radius: 5px;

  h3 {
    color: var(--col-red-dark);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;

    p {
      font-weight: 600;
    }
    
    a {
      display: flex;
      align-self: center;
      justify-items: center;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 1.1rem;
        color: var(--col-red-dark);
      }
    }
  }
}

.main-pelaksanaan-pskk-detail {
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  &__featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid #ddd;

    span {
      font-weight: 600;

      i {
        margin-right: 10px;
        color: var(--col-red-dark);
      }
    }
  }

  &__pembayaran {
    background: #fff;
    box-shadow: var(--shadow-md);
    padding: 12px;
    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__paket {

      &__title {
        font-size: 12px;
        color: #6c757d;
        text-transform: uppercase;
      }
    }
  }

  &__status {
    text-align: center;
  }
}