.main-informasi-index {
  background-color: #fff;

  h2 {
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
  }

  &__box {
    background-color: #fff;
    box-shadow: var(--shadow-md);
    padding: 20px;
    text-align: center;

    &__title {
      background-color: #ebebeb;
      font-weight: 600;
      font-size: 19px;
      text-transform: uppercase;
    }
    
    &__content {
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__btn {
    text-align: center;
    margin-bottom: 40px;

    button {
      font-size: 20px;
      border: 1px solid var(--col-red-dark);
      background-color: #fff;
      color: var(--col-red-dark);

      &:hover {
        color: #fff;
        background-color: var(--col-red-dark);
        border: 1px solid transparent;
      }
    }
  }
}

.main-informasi-all {
  border: 0;

  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 70px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--col-red-dark);
    }
  }

  &__box {
    background-color: #fff;
    padding: 10px;
    box-shadow: var(--shadow);
    margin-bottom: 22px;

    h4 {
      font-size: 18px;
      font-weight: 500;
      color: #000;

      &:hover {
        color: var(--col-red-dark);
      }
    }

    p {
      height: 72px;
      max-height: 72px;
    }

    div {
      font-size: 12px;
      text-align: right;
    }
  }
}