.main-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__input,
  &__input:focus {
    border: 1px solid rgba(205, 38, 29, 0.13);
    font-size: 17px;
    height: 34px;
    color: #000;
    padding-left: 20px;
    padding-right: 40px;
    margin: 13px 15px 0 15px;
    background-color: rgba(205, 38, 29, .15);
    border-radius: 30px;
    width: 100%;
    box-shadow: none;
    outline: none;
  }

  button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 19px;
    right: 30px;
    color: rgba(0, 0, 0, 0.7);

    &:active {
      outline: none;
    }
  }
}

.main-skk {
  background-color: #f8f8f8;
  margin: 20px 150px;
  padding: 20px 30px;
  box-shadow: var(--shadow-md);

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__tanggal {
    color: var(--col-red-dark);
    border-bottom: 1px solid var(--col-red-dark);
  }

  &__icon {
    background-color: var(--col-red-dark);
    color: #fff;
    padding: 4px;
    border-radius: 3px;

    &:hover {
      color: #fff;
    }
  }

  h3 {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 500;
  }

  p {
    margin-bottom: 0;
  }

  &__title {
    color: #6c757d;
    font-size: 12px;
    text-transform: uppercase;
  }
}