/* MEDIA QUERIES */
@mixin respond-to($breakpoint) {
  @if $breakpoint=="small-mobile" {
    @media (max-width: 342px) {
      @content;
    }
  }

  @else if $breakpoint=="mobile" {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (max-width: 769px) {
      @content;
    }
  }

  @else if $breakpoint=="desktop" {
    @media (max-width: 969px) {
      @content;
    }
  }

  @else if $breakpoint=="wrapper" {
    @media (max-width: 1170px) {
      @content;
    }
  }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}