:root {
  --col-red: #ff2f24;
  --col-red-dark: rgb(205, 38, 29);
  // --col-red-dark: rgb(216, 35, 25);
  --col-yellow: #ffef6b;
  --col-yellow-dark: #ffcc00;
  --col-white: #fff;
  --col-gray: #ebebeb;
  --col-gray-dark: #f6f6f6;
  --col-black: #000;
  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-md: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08);
  --font-lato: 'Lato', sans-serif;
  --font-monserrat: 'Montserrat', sans-serif;
}

$fa-font-path: "/webfonts/";

.py-5 {
  padding: 3rem 0;
}